@font-face {
    font-family: 'lalezar';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./Lalezar-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: auto;
    font-display: auto;
}